body{
    margin: 0;
    padding: 0;
}
.bgimage {
    background-image: url("/img/hero4.png");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    
}
.btnimg{
    width: 50%;
    height: 50%;
    background-image: url(./img/button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offerBnner{
    height: 250px;
    background-image: url(./img/banner/b2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont{
    height: 250px;
    background-image: url(./img/banner/b7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.const2{
    height: 250px;
    background-image: url(./img/banner/b4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.const3{
    height: 250px;
    background-image: url(./img/banner/b18.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
